.users_wrap {
    display: flex;
    justify-content: space-between;
}
.left_side {
    display: flex;
    flex-direction: column;
}
.user_avatar {
    max-width: 100px;
    height: auto;
}
.right_side {
    display: flex;
    flex-direction: column;
}
.pagination {
    display: flex;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
.currentPage {
    font-weight: bold;
}
.pagination span {
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}