.logo {
  width: 100px;
}
.header {
  grid-area: h;
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.loginBlock {
}
.loginLink {
  font-size: 24px;
  color: #fff;
}